.header {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    
}
.project-header {
    border: 1px solid black;
    text-align: center;
    width: 100px;
    
}

.form {
    width: 100px;
    
}

.todoinfo {
    border: 1px solid green;
}